<a href="https://colab.research.google.com/github/UzairYusuf/Python-Projects/blob/main/16_Sept_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sort List
Sort the list alphanumerically, ascending
for descending reverse = True
Case

In [ ]:
list2 = ["summer", "winter", "autumn", "Sping", "7", "9"]
list2.sort()
print(list2)

['7', '9', 'Sping', 'autumn', 'summer', 'winter']

In [ ]:
list2.sort(reverse = True)
print(list2)
sortedlist = list2.sort() # not working : issue?
print(sortedlist)

['winter', 'summer', 'autumn', 'Sping', '9', '7']
None
['7', '9', 'Sping', 'autumn', 'summer', 'winter']
None

In [ ]:
numbers = [5, 8, 12, 8, 3]
print(numbers)
numbers.sort(reverse = True)
print(numbers)

[5, 8, 12, 8, 3]
[12, 8, 8, 5, 3]

In [ ]:
list4 = ["apple", "8", "Winter", "6.0"]
list4.sort()
print(list4)
list4.sort(reverse = True)
print(list4)

['6.0', '8', 'Winter', 'apple']
['apple', 'Winter', '8', '6.0']

In [ ]:
list5 = ["apple", "Banana", "Orange", "Appricot", "2"]
list5.sort()
print(list5)
list5.sort(key = str.upper) # Temporary convert to upper case
print(list5)
list5.sort(key = str.lower) # Temporary convert to lower case
print(list5)
list5.reverse()
print(list5)

['2', 'Appricot', 'Banana', 'Orange', 'apple']
['2', 'apple', 'Appricot', 'Banana', 'Orange']
['2', 'apple', 'Appricot', 'Banana', 'Orange']
['Orange', 'Banana', 'Appricot', 'apple', '2']

In [ ]:
list2 = ["summer", "winter", "autumn", "Spring", "7", "9"]
print(list2)
list2.sort(key = str.lower)
print(list2)

['summer', 'winter', 'autumn', 'Spring', '7', '9']
['7', '9', 'autumn', 'Spring', 'summer', 'winter']

Copy list

In [ ]:
list5 = ["apple", "Banana", "Orange", "Apricot"]
list6 = list5
print(list6)
print(id(list5))
print(id(list6))
list5.append("Hello")
print(id(list5))
print(list6)
copy1 = list5.copy()
print(copy1)
print(id(list5))
print(id(copy1))

['apple', 'Banana', 'Orange', 'Apricot']
135815625662976
135815625662976
135815625662976
['apple', 'Banana', 'Orange', 'Apricot', 'Hello']
['apple', 'Banana', 'Orange', 'Apricot', 'Hello']
135815625662976
135815625514368

Join List

In [ ]:
#Concatenating through + operator
list5 = ["apple", "Banana", "Ornage", "Apricote"]
list4 = ["apple", "5", "Winter", "4.0"]
print(list4 + list5)

['apple', '5', 'Winter', '4.0', 'apple', 'Banana', 'Ornage', 'Apricote']

In [ ]:
#using extend() method
list4.extend(list5)
print(list4)

['apple', '5', 'Winter', '4.0', 'apple', 'Banana', 'Ornage', 'Apricote']

In [ ]:
#appending each item using for loop
for i in list4:
  list5.append(i)
print(list5)

['apple', 'Banana', 'Ornage', 'Apricote', 'apple', '5', 'Winter', '4.0', 'apple', 'Banana', 'Ornage', 'Apricote']

In [ ]:
#appending each item using for loop
list3 = ["a", "b", "c"]
for i in list3:
  list5.append(i)
print(list5)
list5.clear()
print(list5)

['apple', 'Banana', 'Ornage', 'Apricote', 'apple', '5', 'Winter', '4.0', 'apple', 'Banana', 'Ornage', 'Apricote', 'apple', '5', 'Winter', '4.0', 'apple', 'Banana', 'Ornage', 'Apricote', 'a', 'b', 'c', 'apple', '5', 'Winter', '4.0', 'apple', 'Banana', 'Ornage', 'Apricote', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
[]

In [ ]:
for i in list3:
  list5.append(i)
for i in list4:
  list5.append(i)
print(list5)

['a', 'b', 'c', 'apple', '5', 'Winter', '4.0', 'apple', 'Banana', 'Ornage', 'Apricote']

In [ ]:
list5.sort()
print(list5)

['4.0', '5', 'Apricote', 'Banana', 'Ornage', 'Winter', 'a', 'apple', 'apple', 'b', 'c']

In [ ]:
string1 = "Python Programing"

In [ ]:
#Nested List
student = ["Name", "Ali", "Marks", [54, 89, 76, 34], ["Pass", "Fail"]]
print(student [4][0][0]) # to acess P in pass. first [4] is index of second list, 0 is Pass and 0 is for P
print(student[3][0]) # to acess marks of first student, [3] is index of marks list and 0 index in that list is marks ie 54

P
54

Tuple are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable
Tuples are written with round brackets.
Tuples are immutable ie we cannot change it.

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan")
print(T1)
print(type(T1))
T2 = ("India",)
print(type(T2))
print(T2)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan')
<class 'tuple'>
<class 'tuple'>
('India',)

Accessing Tuple Elements

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", "Korea", "09") #indexing ("Pakistan", "Nepal", 5(-5), 8.9(-4), "Sudan"(-3), "Korea"(-2), "09" (-1))
print(T1[-2]) # print index -2 value
print(T1[-2:-5:-1]) # slicing : first start index, second is end index (ie one before ie -4), iterative steps ie one step ie indices -2 -3 -4

Korea
('Korea', 'Sudan', 8.9)

Membership Operator

Update Tuples
You can use some hacks to change tuple (immutable)

In [ ]:
# Method 1 to add items in tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", "Korea", "09")
x = list(T1) # convert to list
x.append("Indonessia") # append()
T1 = tuple(x) # convert to tuple
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 'Korea', '09', 'Indonessia')

In [ ]:
# Method 2 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", "Korea", "09")
T3 = ("Python",)
T1 += T2
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 'Korea', '09', 'India')

In [ ]:
# to remove
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", "Korea", "09")
x = list(T1)
x.remove("Sudan")
T1 = tuple(x)
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Korea', '09')