<a href="https://colab.research.google.com/github/UzairYusuf/Python-Projects/blob/main/19_Sept_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple

Membership Operator
if a item is present

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
print("Nepal" in T1, "Pak" in T1)

True False

Update Tuples

In [ ]:
# Method 1 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.append("china")
T1 = tuple(x)
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 55, 'Korea', '09', 'china')

In [ ]:
# Method 2 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
T3 = ("china",)
T1 += T3 # T1 = T1+T3
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 55, 'Korea', '09', 'china')

In [ ]:
# remove
T1  = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.remove("Sudan")
T1 = tuple(x)
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 55, 'Korea', '09')

In [ ]:
# Delete a tuple
T1  = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
del T1
T1  = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
print(T1)

('Pakistan', 'Nepal', 5, 8.9, 'Sudan', 55, 'Korea', '09')

Unpacking a Tuple

In [ ]:
T1 = ("Pakistan", "nAPAL", 5, 8.9)
var1, var2, var3, var4 = T1
print(var1)
print(var2)
type(var3)
type(var4)

Pakistan
nAPAL

float

In [ ]:
T1 = ("Pakistan", "nAPAL", 5, 8.9, "sudan", 55, "korea", "09")
var1, var2, var3, var4, *var5 = T1 # *var5 = [list of all remaining variables]
print(var3)
print(var4)
print(var5)

5
8.9
['sudan', 55, 'korea', '09']

Join Tuples

In [ ]:
# use +
join1 = (3, 5, 7)
join2 = ("P", "A", "K")
join3 =(2, 4, 6)
join1 += join2 + join3
print(join1+join2)

(3, 5, 7, 'P', 'A', 'K', 2, 4, 6, 'P', 'A', 'K')

Multiply Tuples

In [ ]:
join2 = ("Pakistan", 1)
print(join2*2)
join1 = (3, 5, 7)
print(join1*5)

('Pakistan', 1, 'Pakistan', 1)
(3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7)

Tuple Method

In [ ]:
# count method
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09", "Pakistan")
print(T1.count("Pakistan"))

2

In [ ]:
# index() method
print(T1.index(5))

2

In [ ]:
x = [2, 67, 3, 40, 500]
x.sort()
print(x)

[2, 3, 40, 67, 500]

In [ ]:
x = [3,"Apple", [55, 77], ["cheery", "bannana"]]
x[3] = ["e"]
print(x)

[3, 'Apple', [55, 77], ['e']]