<a href="https://colab.research.google.com/github/UzairYusuf/Python-Projects/blob/main/Conditions_26_27_30_Sept_1_2_3_Oct_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditions

In [ ]:
a = 3
b = 5
if a > b:
  print("a is greater than b")
else:
  print("your statement is false")

In [ ]:
a = 6
b = 5
if a > b:
  print("a is greater than b")
else:
  print("your statement is false")

a is greater than b

In [ ]:
a = 3
b = 5
if a > b:
  print("a is greater than b")
else:
  print("a is not greater than b")

a is not greater than b

In [ ]:
a,b = 5, 7
if a == 3:
  print("a is greater than b")
elif a<b:
  print("a is less than b")
else:
  print("a is equal to b")

a is less than b

In [ ]:
#Grading System using conditions
marks = float(input("Enter your marks: "))
if marks >= 95:
  print("Your Grade is A")
elif marks >= 85:
  print("Your Grade is B")
elif marks >= 75:
  print("our Grade C")
elif marks >= 50:
  print("our Grade D")
else:
  print("our Grade F")

Enter your marks: 67
our Grade D

In [ ]:
marks = int(input("Enter your mark: "))
if marks >= 95:
  print("A")
elif marks >= 85:
  print("B")
elif marks >=75:
  print("C")
else:
  print("D")

Enter your mark: 33
D

In [ ]:
#program for a basic calculator
a = int(input("Enter first digit :"))
b = int(input("Enter second digit :"))
c = input("Choose an operator of the following: \n+ \n- \n* \n/ \n")

if c== "+":
  z = (a+b)
elif c=="-":
  z = (a-b)
elif c=="*":
  z = (a*b)
elif c=="/":
  z = (a/b)
print("Your solution : ", z)

Enter first digit :3
Enter second digit :4
Choose an operator of the following:
+
-
*
/
+
Your solution :  7

In [ ]:
#program for a basic calculator
a = float(input("Enter first digit :"))
b = float(input("Enter second digit :"))
c = input("Choose an operator of the following: \n+ \n- \n* \n/ \n")

if c== "+":
  z = (a+b)
elif c=="-":
  z = (a-b)
elif c=="*":
  z = (a*b)
elif c=="/":
  z = (a/b)
print("Your solution : ", z)

Enter first digit :13
Enter second digit :14
Choose an operator of the following:
+
-
*
/
+
Your solution :  27.0

Short Hand If
for only one statement

In [ ]:
a,b = 9,7
if a>b:print("a is greater than b"), print(5)

In [ ]:
# Short Hand if ....else
a=5
b=5
print("a") if a>b else print("b")
print("a") if a<b else print("same")

b
same

Logical Operators in Conditions
using and, or, not

In [ ]:
#using and, or, not
a>b and a==b

In [ ]:
a = 100
b = 200
c = 300
if a>b or a>c: #both conditions are false so moves to next statement
  print("a is greater than all")
elif b>a or b>c: #first condition
  print("b is greater than all")
elif c>a or c>b:
  print("c is greater than all")

a = 100
b = 200
c = 300
b is greater than all

In [ ]:
a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))
if a>b and a>c:
  print("a is greater than all")
elif b>a and b>c:
  print("b is greater than all")
elif c>a and c>b:
  print("c is greater than all")

a = 100
b = 400
c = 300
b is greater than all

In [ ]:
''' Accept three sides of triangle and check whether it is an equilteral, scalene or isosceles
Note:
Equilateral - all sides equal
Scalene - unequal sides
Isosceles - at least two sides equal'''

a = float(input("a = "))
b = float(input("b = "))
c = float(input("c = "))
if a==b==c:
  print("Equilateral Triangle")
elif a==b or a==c or b==c:
   print("Isosceles Triangle")
else:
  print("Scalene Triangle")

a = 7
b = 7
c = 7
Equilateral Triangle

In [ ]:
#Write a program to check whether a number(accpeted by user) is divisible by 2 & 5 both
a = int(input("Enter a number: "))
if a%2==0 and a%5==0:
  print("Number is divisible.")
else:
  print("Number is not divisible.")

Enter a number: 50
Number is divisible.

In [ ]:
# Accept ages of 4 persons and return oldest
a = int(input("Age1 : "))
b = int(input("Age2 : "))
c = int(input("Age3 : "))
d = int(input("Age4 : "))
oldest = max(a, b, c, d)
print("Oldest person is ", oldest, " years old.")

Age1 : 0
Age2 : 8
Age3 : 6
Age4 : 7
Oldest person is  8  years old.

Nested if:

if within if

In [ ]:
marks = int(input("Enter your marks: "))
if marks >= 60:
  if marks >= 80:
    print("Pass with excellent performance.")
  else:
    print("Pass but need more efforts.")
else:
  print("Fail")

Enter your marks: 65
Pass but need more efforts.

Pass Statement

In [ ]:
a = 5
b = 7
if a<b:
  pass

Loops
Used for iterations

In [ ]:
#While Loop as long as condition is true
i =1
while i < 6:
  print(i)
  i += 0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5

In [ ]:
i =1
while i <= 9:
  print(i)
  i *= 2
print("Done")

1
2
4
8
Done

In [ ]:
i = 0
n = 5
while i<n:
  print(i)
  i += 1

0
1
2
3
4

In [ ]:
i = int(input("Input i : "))
n = int(input("Input n : "))
while i<n:
  print(i)
  i += 1

Input i : 0
Input n : 5
0
1
2
3
4

In [ ]:
i = 1
while i<=5:
  print("python", i)
  i = i+1

python 1
python 2
python 3
python 4
python 5

In [ ]:
i = 1
while i<= 5:
  print("x" * i) # repeats i time
  i += 1

x
xx
xxx
xxxx
xxxxx

**Break Statement**

To stop statement

In [ ]:
i = 0
while i<6:
  print(i)
  if i == 3: # stops statement in between
    break
  i+=1

0
1
2
3

**Continue Statement**
Stop iteration and continue next

In [ ]:
i = 1
while i<= 6:
  if i == 3:
    i += 1 #increment before continuing to avoid infinite loop
    continue
  print(i)
  i += 1

1
2
4
5
6

In [ ]:
#Table using while loop
a = int(input("Enter a number : "))
i = 1
while i<=10:
  print(a, "*", i, "=", a*i)
  i+=1

Enter a number : 33
33 * 1 = 33
33 * 2 = 66
33 * 3 = 99
33 * 4 = 132
33 * 5 = 165
33 * 6 = 198
33 * 7 = 231
33 * 8 = 264
33 * 9 = 297
33 * 10 = 330

**Else in While Loop**

In [ ]:
i = 0
while i<5:
  print(i)
  i += 1
else:
  print("i is no longer less than 5.")

0
1
2
3
4
i is no longer less than 5.

In [ ]:
# Guessing Game using While Loop
secret_number = 5
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
  guess = int(input("Your guess: "))
  if guess == secret_number:
    print("You won")
    break
  guess_count+=1
else:
  print("You exceeded guess limit.")

Your guess: 9
Your guess: 5
You won

Range() in For Loop

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
#for loop
my_list = [3, 5, True, "apple"]
for i in my_list: # starts from 0 index, moves 1 by 1
  print(i)

3
5
True
apple

In [ ]:
my_tuple = ("python", "cpp", "java")
for i in my_tuple:
  print(i)

python
cpp
java

In [ ]:
target = 9
arr = [6, 3, 8, 4, 5, 2, 1]
for i in range (len(arr)):
  if arr[i] == 5:
    print("Value:", arr[i], "\n", "Index:", i)
print("Nothing")

Value: 5
 Index: 4
Nothing

**Break Statement in for loop**
With the break statement we can stop loop before it looped

In [ ]:
my_list = ["winter", "summer", "autumn", "fall", "rainy"]
for i in my_list:
  print(i)
  if i == "fall": # will break when reach "fall"
    break
    print(i)

winter
summer
autumn
fall

Continue Statement for loop

In [ ]:
my_list = ["winter", "summer", "autumn", "fall", "rainy"]
for i in my_list:
  if i == "fail"

In [ ]:
my_list = ["winter", "summer", "autumn", "fall", "rainy"]
for i in range(2, len(my_list)):
  print(my_list(i))

TypeError: 'list' object is not callable

Else for loop

Pass statement

In [ ]:
for x in range:
  pass

TypeError: 'type' object is not iterable

Nested loop

In [ ]:
for x in range(5):
  for y in "Hello":
    print(x, y)

0 H
0 e
0 l
0 l
0 o
1 H
1 e
1 l
1 l
1 o
2 H
2 e
2 l
2 l
2 o
3 H
3 e
3 l
3 l
3 o
4 H
4 e
4 l
4 l
4 o

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in adj:
    #print(x,y)
    for z in fruits:
      print(x,y,z)

red red apple
red red banana
red red cherry
red big apple
red big banana
red big cherry
red tasty apple
red tasty banana
red tasty cherry
big red apple
big red banana
big red cherry
big big apple
big big banana
big big cherry
big tasty apple
big tasty banana
big tasty cherry
tasty red apple
tasty red banana
tasty red cherry
tasty big apple
tasty big banana
tasty big cherry
tasty tasty apple
tasty tasty banana
tasty tasty cherry

In [ ]:
# marks of students
marks = [65, 70, 40, 20, 88]
total_sum = 0
for i in marks:
  total_sum = total_sum + i
  print(total_sum)
  #total_marks = sum(marks)
  #print(total_marks)

65
135
175
195
283

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "apricot", "berries"]
new_list = []
for i in fruits:
  if "a" in i:
    new_list.append(i)
print(new_list)

['apple', 'banana', 'mango', 'apricot']

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "apricot", "berries"]
new_list = []
for i in fruits:
  if "an" in i:
    new_list.append(i)
print(new_list)

['banana', 'mango']

List Comprehesnion
#A short syntax to create a new list based on previous list

Syntax

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "apricot", "berries"]
new_list = [x for x in fruits if "an" in x]
print(new_list)

['banana', 'mango']

In [ ]:
Numbers = [x for x in range(5) if x! = 3]
print(Numbers)

SyntaxError: invalid syntax (<ipython-input-17-ded9d38db5fb>, line 1)

In [ ]:
statement = "Python"
# Convert every charachter of this string in a list item.
new = []
for i

In [ ]:
# Loop through a string
a = "Python for Beginners"
for i in a:
  if i == " ":
    continue
  print(i)

P
y
t
h
o
n
f
o
r
B
e
g
i
n
n
e
r
s

In [ ]:
# Loop through a list
my_list = [5, 34, 98, 45]
i = 0
while i<len(my_list):
  print(my_list)

Functions

In [ ]:
def function1():
  print("Python")
  print("Programing")
  print("Hello")
  x = function1()
  print(x)

In [ ]:
def myfunction(b, a):
  c = a+b
  print(c)

Built in function

In [ ]:
#the sum() returns sum

In [ ]:
# max() and min()
a = 56
b =33
print(max(a, b))

56

In [ ]:
 a = ["Python", "Java", "English", "Arabic", "Zoom", "hello"]
print(max(a))
print(min(a))

hello
Arabic