<a href="https://colab.research.google.com/github/UzairYusuf/Python-Projects/blob/main/Dictionaries_23_24_Sept_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries
Store data values in key:value pairs
ordered, changable, no duplicate
curly {}

In [9]:
dict1 = {1 : "Ali",
         "age" : 21,
         "Country": "Pakistan",
         "city" : "Karachi"}
print(dict1["city"])
print(dict1["age"])

Karachi
21

In [ ]:
# len() number of key value pairs in a dictionary
print(len(dict1))

4

In [3]:
# keys* and values are of any data type
# in keys, cannot be mutable
student_info = {
    1 : "Ali",
    "class" : 8,
    (1,0) : None}
student_info.keys()

dict_keys([1, 'class', (1, 0)])

In [5]:
#Accessing Elements in dictonary
dict1 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Lahore"}
print(dict1["age"])

21

Duplicate Values in Dictionay:
duplicates allowed, duplicate keys not allowed

In [11]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "country" : "Pakistan", #duplicate keys not allowed
         "city" : "Pakistan" #duplicate entry allowed
         }
print(dict2)
print(dict1)

{'name': 'Ali', 'age': 21, 'country': 'Pakistan', 'city': 'Pakistan'}
{1: 'Ali', 'age': 21, 'Country': 'Pakistan', 'city': 'Karachi'}

In [14]:
#Add new element
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad"
         }
dict2["employed"] = 54 #pass new element
print(dict2)

{'name': 'Ali', 'age': 21, 'country': 'Pakistan', 'city': 'Faisalabad', ('employed', 'martial_status'): (54, 34)}

In [15]:
#change value
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad"
         }
dict2["city"] = "Lahore" #pass new value
dict2[21] = "Hello" #add new key
print(dict2)

{'name': 'Ali', 'age': 21, 'country': 'Pakistan', 'city': 'Lahore', 21: 'Hello'}

In [18]:
#Membership operator
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad"
         }
print("name" in dict2)
print("city" in dict2)
print("Pakistan" in dict2)

True
True
False

In [22]:
#iterating thru dict
#change value
dict2 = {"name : " : "Ali",
         "age : " : 21,
         "country : " : "Pakistan",
         "city : " : "Faisalabad"
         }
#print(dict2["age"])
for i in dict2:
  print(i, dict2[i]) #for loop will go thru each key one by one and print it with its value
#print(value)

name :  Ali
age :  21
country :  Pakistan
city :  Faisalabad

Nested Dictionary:

In [28]:
dict2 = {"name : " : "Ali",
         "age : " : 21,
         "country : " : "Pakistan",
         "city : " : "Faisalabad",
         "dict3" : {"status" : "employed", "profession" : "Teaching"}, #nested dictionay
         }
print(dict2["dict3"]) #can print nested dict
print(dict2["dict3"]["status"]) #can print nested dict value
#print(dict3)

{'status': 'employed', 'profession': 'Teaching'}
employed