<a href="https://colab.research.google.com/github/UzairYusuf/Python-Projects/blob/main/Sets_20_Sept_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets

Sets
Used to store multiple values of different data types
unorderd, unindexed, unchagable
duplicate values not allowed
unmutable - can add and remove items
written in {}

In [ ]:
List = ["Lahore", 5, "Faisalabad", 1, 5, True]
List = set(List)
print(List)
print(type(List))

{1, 5, 'Faisalabad', 'Lahore'}
<class 'set'>

In [ ]:
# Duplicate not allowed in sets
set1 ={"Lahore", 5, "Faisalabad", 1, 5, True, "Lahore"}
print(set1)
set2 = {5, True, 5}
print(set2)

{1, 'Faisalabad', 5, 'Lahore'}
{True, 5}

# Length of set() - number of items in a set

In [ ]:
set1 = {"Lahore", 5, "Faisalabad", 1, 5, True, "lahore"} # duplicate not allowed
print(len(set1))

5

Access Set Items


Cannot access - but use loop

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
if "Karachi" in set1:
    print("True")
else:
    print("False")

False

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
print("Lahore" in set1)

True

Add Items in a set
Cannot change set
add item thru add()

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
set1.add("Karachi")
print(set1)

{True, 'Faisalabad', 5, 'Karachi', 'Lahore'}

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
set2 = {5, 0, False} # False value is 0 so it is not printed
set1.update(set2)
print(set1)

{0, True, 'Faisalabad', 5, 'Lahore'}

Remove Set Items

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
set1.remove("Lahore")
print(set1)

{True, 'Faisalabad', 5}

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
set1.discard(True)
print(set1)

{'Faisalabad', 5, 'Lahore'}

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
set1.clear()
print(set1)

set()

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
set1.pop("Lahore")
print(set1)

TypeError: set.pop() takes no arguments (1 given)