<a href="https://colab.research.google.com/github/UzairYusuf/Python-Projects/blob/main/Some_Set_Methods_23_Sept_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Intersection_update() method will keep only items in both sets

In [1]:
set1 = {5, True, "Python"}
Set2 = {5, 6, "Python"}
set1.intersection_update(Set2)
print(set1)

{5, 'Python'}

In [ ]:
# intersection() will return a new set, only contain items present in both sets

In [2]:
set1 = {5, True, "Python"}
Set2 = {5, 6, "Python"}
set3 = set1.intersection(Set2)
print(set3)

{5, 'Python'}

In [5]:
# difference() returns difference between two or more sets
set1 = {5, True, 9, "Python"}
Set2 = {5, 7, "Python"}
Set3 = {5, 8, "Python"}
x = set1.difference(Set2, Set3)
print(x)

{True, 9}

In [8]:
# The symmetric_difference() will return a new set, that are not common items
Set1 = { "Lahore", "Faisalabad", 5,}
Set2 = {5, 0, "Multan"}
Set3 = {5, 8, "Python"}
a = Set2.symmetric_difference(Set1)
print(a)

{0, 'Lahore', 'Multan', 'Faisalabad'}